.test{
    /* color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    width: 75%;
    padding: .3rem;
}