
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem;
}

.main_body{
  width: 100%;
}

.survey_table{
  width: 75%;
}

.table_header{
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 75%;
  margin-bottom: .5rem;
}

.table_utils{
  display: flex;
  align-items: end;
}
